.show {
	width:600px;
	height:500px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

.picture-container {
	width:10000px;
	position: absolute;
	top:0;
	left:0;
}
img {
	width:600px;
	display:block;
	float:left;
}

ul {
	width:800px;
	margin: 30px auto;
}
li {
	list-style-type: none;
	display:inline-block;
	width:50px;
	margin-left:20px;
	cursor:pointer;
}
